/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

app-login {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-full-width {
    width: 100%;
}

.app-login-header {
    text-align: center;
}

@keyframes color_change {
	from { background-color: rgb(0, 123, 255); }
	to { background-color: rgb(255, 0, 80); }
}

.app-login-logo.mat-icon {
    animation-name: color_change;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.app-login-logo.mat-icon {
    font-size: 40px;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    text-align: center;
    line-height: 60px;
}