<form *ngIf="reaction">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" id="title" aria-describedby="title" placeholder="Enter Title"
           [(ngModel)]="reaction.title">
  </div>
  <div class="form-group">
    <label>Content</label>
    <div>
      <p-editor name="content" [(ngModel)]="reaction.content" [style]="{'height':'320px'}"></p-editor>
   </div>
  </div>
  (Id : {{reaction.id}})
  <button type="submit" (click)="createNewReaction()" class="btn btn-primary">Create reaction</button>
</form>
