<div>
    <h2 id="page-heading">
        <span jhiTranslate="debattonsApp.reaction.home.title">Reactions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reaction" [routerLink]="['/reaction/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="debattonsApp.reaction.home.createLabel">
            Create new Reaction
            </span>
        </button>
    </h2>
    <dbt-alert></dbt-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="reactions?.length === 0">
        <span jhiTranslate="debattonsApp.reaction.home.notFound">No reactions found</span>
    </div>
    <div class="table-responsive" *ngIf="reactions?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="debattonsApp.reaction.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="content"><span jhiTranslate="debattonsApp.reaction.content">Content</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="debattonsApp.reaction.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeLevel"><span jhiTranslate="debattonsApp.reaction.typeLevel">Type Level</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supportScore"><span jhiTranslate="debattonsApp.reaction.supportScore">Support Score</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalChildrenCount"><span jhiTranslate="debattonsApp.reaction.totalChildrenCount">Total Children Count</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creator.login"><span jhiTranslate="debattonsApp.reaction.creator">Creator</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="parentReaction.title"><span jhiTranslate="debattonsApp.reaction.parentReaction">Parent Reaction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reaction of reactions ;trackBy: trackId">
                <td><a [routerLink]="['/reaction', reaction.id, 'view' ]">{{reaction.id}}</a></td>
                <td>{{reaction.title}}</td>
                <td>{{reaction.content}}</td>
                <td jhiTranslate="{{'debattonsApp.ReactionType.' + reaction.type}}">{{reaction.type}}</td>
                <td>{{reaction.typeLevel}}</td>
                <td>{{reaction.supportScore}}</td>
                <td>{{reaction.totalChildrenCount}}</td>
                <td>
                    {{reaction.creator?.login}}
                </td>
                <td>
                    <div *ngIf="reaction.parentReaction">
                        <a [routerLink]="['../reaction', reaction.parentReaction?.id, 'view' ]" >{{reaction.parentReaction?.title}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/reaction', reaction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/reaction', reaction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'reaction', { outlets: { popup: reaction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="reactions?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
